@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary_color: #2675F9;
  --primary_bg: #040A20;
  --light_bg:#151d3b38;
  --light_gray:rgba(128, 128, 128, 0.52);
}
.App{

  height: 100vh;
  
  color: white;
  background: var(--primary_bg);
}

a{
  text-decoration: none;
}